## Data
data/
*.csv
*.tsv
*.zip
*.json
*.jsonl
*.ndjson
*.parquet
.*/
!.gitignore
!.git

## Binaries
*.so
*.o
*.a
*.dylib
*.d

## Zig
.zig-cache/
zig-out/

## Swift
build/

## Misc
.old/

## Rust
target/
Cargo.lock

## Node
node_modules/

## LightningSearch
ls_data/
lightning_search.bin

perf.data
perf.data.old
